/* 
    Document   : style
    Created on : Dec 2, 2013, 1:03:09 PM
    Author     : jpeak5
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-image: url('cup.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(111, 78, 55,0.4);
}

.inventory-too-low {
    color: rgb(179, 8, 8);
}

table, th, td {
    border-collapse:collapse;
    border: 1px solid black;
}

td, th{
    padding:5px;
}

td.align-right{
    text-align:right;
}

.zebra {
    background-color: #DDDDDD;
}

th {
    background-color: #AAAAAA;
}

.content {
    padding: 1% 0 0 0;
/*    margin: 1%;*/
    text-align:center;
    width:55%;
    height:100%;
    background-color: rgba(111, 78, 55,0.5);
}
/*.title {
    background-color: #666666;
    width: 50%;
}*/